.headerWrapper {
  width: 100%;
  border-bottom: 1px solid #d8cdc6;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
  }
  h2 {
    font-size: 2em;
    margin: 0;
  }
}
