.tableContainer {
  background-color: transparent !important;
  box-shadow: none !important;
  .boldCell {
    font-weight: 600;
  }
  .statusWrapper {
    padding: 5px 10px;
    border-radius: 12px;
  }
}
.main-progress {
  z-index: 99;
}
.overlay-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
